<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoggedIn</title>
    <!-- <link rel="stylesheet" href="app.css"> -->
</head>
<body>
    <div class="container">
        <h1>You are logged In!</h1>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button onclick="logout()">Log Out</button>
    </div>
</body>
<script>
    const logout = async () => {
        const response = await fetch("/WTA-794/session", {
            method: "DELETE"
        })

        if (response.ok) {
            const data = await response.json();
            alert(data.message)
        }

        location.href = "./"
    }
</script>
</html>