<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WTA-794</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="/WTA-794/session" method="POST" >
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="username">User Name</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <button type="submit">Sign In</button>
        </form>
    </body>
</html>
